{% extends "layout.html" %} {% block content %}
<div>
  <h1>{{title}}</h1>

  <form action="/author/create" method="POST">
    <div class="form-group">
      <label for="authorName">Author Name</label>
      <input
        type="text"
        class="form-control"
        id="authorName"
        name="authorName"
        placeholder="Author Name"
      />
    </div>

    <div class="form-group">
      <label for="yearBorn">Year Born</label>
      <input
        type="number"
        maxlength="4"
        class="form-control"
        name="yearBorn"
        id="yearBorn"
        placeholder="Year Born"
      />
    </div>

    <div class="form-group">
      <label for="yearDied">Year Died</label>
      <input
        type="number"
        maxlength="4"
        class="form-control"
        name="yearDied"
        id="yearDied"
        placeholder="Year Died"
      />
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Add Author" />
    </div>
  </form>
</div>
{% endblock %}
