{% extends "layout.html" %} {% block content %}
<div>
  <h1>{{title}}</h1>

  <form action="/publisher/create" method="POST">
    <div class="form-group">
      <label for="publisherName">Publisher Name</label>
      <input
        type="text"
        class="form-control"
        id="publisherName"
        name="publisherName"
        placeholder="Publisher Name"
      />
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input
        type="text"
        class="form-control"
        id="city"
        name="city"
        placeholder="City"
      />
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input
        type="text"
        class="form-control"
        id="country"
        name="country"
        placeholder="Country"
      />
    </div>
    <div class="form-group">
      <label for="president">President</label>
      <input
        type="text"
        class="form-control"
        id="president"
        name="president"
        placeholder="President"
      />
    </div>
    <div class="form-group">
      <label for="yearFounded">Year Founded</label>
      <input
        type="number"
        maxlength="4"
        class="form-control"
        name="yearFounded"
        id="yearFounded"
        placeholder="Year Founded"
      />
    </div>
    <div class="form-group">
      <input type="submit" value="Add Publisher" />
    </div>
  </form>
</div>
{% endblock %}
